<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Maestro_Resizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Maestro_Resizer.Properties.Settings>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Data" serializeAs="String">
                <value>10x15,(A6) 10x15 см,10,15,False,False;15x21,(A5) 15x21 см,15,21,False,False;21x30,(A4) 21x30 см,21,30,False,False;30x40,(A3) 30x40 см,30,40,False,False;30x42,(A3) 30x42 см,30,42,False,False;40x60,(A2) 40x60 см,40,60,False,False;42x60,(A2) 42x60 см,42,60,False,False;60x80,(A1) 60x80 см,60,80,False,False;10x15,(A6) 10x15 см,10,15,True,False;15x21,(A5) 15x21 см,15,21,True,False;21x30,(A4) 21x30 см,21,30,True,False;30x40,(A3) 30x40 см,30,40,True,False;30x42,(A3) 30x42 см,30,42,True,False;40x60,(A2) 40x60 см,40,60,True,False;42x60,(A2) 42x60 см,42,60,True,False;60x80,(A1) 60x80 см,60,80,True,False</value>
            </setting>
        </Maestro_Resizer.Properties.Settings>
    </userSettings>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2" />
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>